<div class="jumbotron" ng-controller="Downloader as dl">

    <form>
        <div class="form-group">
            <label >Filename</label>
            <input type="text" class="form-control" id="inputFilename" placeholder="Filename" ng-model="dl.filename">
        </div>
        <div class="form-group">
            <label >Identifier</label>
            <input type="text" class="form-control" id="inputIdentifier" placeholder="Identifier" ng-model="dl.identifier">
        </div>

        <div class="form-group" style="padding-left:0;">
            <div style="padding-left: 0;">
                <button class="btn btn-default" ng-click="dl.download()">
                    <label>Download</label>
                    <i class="glyphicon glyphicon-download"></i>
                </button>
                
                <div class="form-group" ng-if="dl.downloading" style="margin-top:5px; display: inline-block;">
                    <label> Downloading {{dl.result.config.data}} with status <b style="color:green;">{{dl.result.statusText}}</b> </label>
                </div>
            </div>
        </div>

    </form>
</div>