<div class="jumbotron" ng-controller="Library as lib" ng-init="lib.getLibraryContents()">

    <div>
        <div class="row">
            <div class="col-md-4 text-center">
            </div>
            <div class="col-md-4 text-center">
                <h2>GVod Library</h2>
            </div>
            <div class="col-md-4 text-center">
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-4 text-center">
            </div>
            <div class="col-md-4 text-center"> <span class="btn btn-default" ng-click="lib.getLibraryContents()">
                    <i class="glyphicon glyphicon-refresh"></i>
                </span>
            </div>
            <div class="col-md-4 text-center">
            </div>
        </div>
    </div>
    <div ng-repeat="file in lib.result.data.contents " style="padding: 15px;">
        <div class="container-fluid" style="border-bottom: solid 1px black;">
            <div class="col-md-3">
                Name: {{file.name}}
            </div>
            <div class="col-md-3">
                ID: {{file.identifier}}
            </div>
            <div class="col-md-3">
                Status: {{file.status}}
            </div>
            <div class="col-md-3">
                <i ng-click="lib.enlarge(file.status, file.name, file.identifier,$index)" class="glyphicon glyphicon-plus" ng-if="lib.showView.length === 0 || !lib.showView[$index]"></i>
                <i ng-click="lib.minimize($index)" class="glyphicon glyphicon-minus" ng-if="lib.showView.length > 0 && lib.showView[$index] === true"></i>
            </div>
        </div>
        <div class="row" ng-if="lib.showView.length > 0 && lib.showView[$index] === true" style="border: solid 5px black;">
            <div ng-if="lib.viewToLoad === 'upload'">
                <div ng-include="'views/partials/upload.html'"></div>
            </div>
            <div ng-if="lib.viewToLoad === 'download'">

                <div ng-include="'views/partials/download.html'"></div>
            </div>
            <div ng-if="lib.viewToLoad === 'stop'">

                <div ng-include="'views/partials/stop.html'"></div>
            </div>
            
            <div ng-include="'views/partials/getLibraryElement.html'"> </div>
            
        </div>
    </div>

</div>