<div class="jumbotron" ng-controller="Library as lib">

    <span>
        <label>Show status</label>
        <i ng-if="!lib.status" class="glyphicon glyphicon-plus"  ng-click="lib.getLibraryElement()"> </i>
        <i ng-if="lib.status" class="glyphicon glyphicon-minus"  ng-click="lib.closeLibraryElement()"> </i>
    </span>
    <div ng-if="lib.status">
        Description [ {{lib.result.data.fileInfo.description}} ],
        Size : [ {{lib.result.data.fileInfo.size}} ],
        Partners : [ {{lib.result.data.torrentInfo.partners}} ],
        Progress : [ {{lib.result.data.torrentInfo.progress}} ],
        <div ng-if="lib.result.data.torrentStatus === 'DOWNLOADING'">
            Download speed : [ {{lib.result.data.torrentInfo.downloadSpeed}} ],
        </div>
        <div ng-if="lib.result.data.torrentStatus === 'UPLOADING'">
            Upload speed : [ {{lib.result.data.torrentInfo.uploadSpeed}} ],
        </div>
    </div>
</div>