<div class="jumbotron" ng-controller="Library as lib">
    
    <form>
        <div class="form-group">
            <label >Filename</label>
            <input type="text" class="form-control" id="inputFilename" placeholder="Filename" ng-model="lib.filename">
        </div>
        <div class="form-group">
            <label >Identifier</label>
            <input type="text" class="form-control" id="inputIdentifier" placeholder="Identifier" ng-model="lib.identifier">
        </div>
        <div class="form-group">
            <label >URI</label>
            <input type="text" class="form-control" id="inputIdentifier" placeholder="Uri" ng-model="lib.uri">
        </div>
        <div class="form-group">
            <label >Size</label>
            <input type="text" class="form-control" id="inputIdentifier" placeholder="Size" ng-model="lib.size">
        </div>
        <div class="form-group">
            <label >Description</label>
            <input type="text" class="form-control" id="inputIdentifier" placeholder="Description" ng-model="lib.description">
        </div>
        <div class="form-group" style="padding-left:0;">
            <div style="padding-left: 0;">
                <button class="btn btn-default" ng-click="lib.addFile()">
                    <label>add File</label>
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>
        </div>

    </form>
    
</div>