<div class="jumbotron" ng-controller="Stoper as st">

    <form>
        <div class="form-group">
            <label >Filename</label>
            <input type="text" class="form-control" id="inputFilename" placeholder="Filename" ng-model="st.filename">
        </div>
        <div class="form-group">
            <label >Identifier</label>
            <input type="text" class="form-control" id="inputIdentifier" placeholder="Identifier" ng-model="st.identifier">
        </div>
        <div class="form-group" style="padding-left:0;">
            <div style="padding-left: 0;">
                <button class="btn btn-default" ng-click="st.stop()">
                    <label>Stop</label>
                    <i class="glyphicon glyphicon-stop"></i>
                </button>
                
                <div class="form-group" ng-if="st.stoped" style="margin-top:5px; display: inline-block;">
                    <label> Stops {{st.result.config.data}} with status <b style="color:green;">{{st.result.statusText}}</b> </label>
                </div>
            </div>
        </div>
    </form>
</div>