<div class="jumbotron" ng-controller="Uploader as ul">

    <form>
        <div class="form-group">
            <label >Filename</label>
            <input type="text" class="form-control" id="inputFilename" placeholder="Filename" ng-model="ul.filename">
        </div>
        <div class="form-group">
            <label >Identifier</label>
            <input type="text" class="form-control" id="inputIdentifier" placeholder="Identifier" ng-model="ul.identifier">
        </div>
        <div class="form-group" style="padding-left:0;">
            <div style="padding-left: 0;">
                <button class="btn btn-default" ng-click="ul.upload()">
                    <label>Upload</label>
                    <i class="glyphicon glyphicon-upload"></i>
                </button>
                
                <div class="form-group" ng-if="ul.uploading" style="margin-top:5px; display: inline-block;">
                    <label> Uploading {{ul.result.config.data}} with status <b style="color:green;">{{ul.result.statusText}}</b> </label>
                </div>
            </div>
        </div>
    </form>
</div>