<div class="modal-header">
    <h2 class="modal-title">Choose Topic and Schema</h2>
</div>
<div class="modal-body">

    <div class="container-fluid">
        <div class="row">
            <h3>Choose Topic</h3>
            <div ng-repeat="topic in selectTopicAndSchema.topics">
                <input class="checkbox pull-right" value="{{topic.name}}" ng-checked="selectTopicAndSchema.chooseTopic()">
            </div>
        </div>
        <hr style="color:black;">
        <div class="row">
            <div>
                <button class="btn btn-default pull-right" type="button" ng-click="selectDownloadTypeCtrl.close()">
                    Cancel
                </button>
            </div>
        </div>

    </div>

</div>

